<div class="login-container">
    <div class="login-form">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: ""}) do |f| %>
            <fieldset>
              <%= f.input :email, placeholder: "Email Address" %>
              <%= f.input :password, placeholder: "Password" %>

              <% if devise_mapping.rememberable? -%>
                  <div>
                      <%= f.input :remember_me, as: :boolean %>
                  </div>
              <% end -%>
              <div class="actions">
                  <%= f.button :submit, "Log in", class: "" %>
              </div>
            </fieldset>
            <%= render "devise/shared/links" %>
        <% end %>
        
    </div>
</div>